@media screen and (min-width: 1024px){
*{
    margin: 0px;
    padding: 0px;
    font-family: "Times New Roman", Times, serif;
}

.clear{
    clear: both;
}

/* Start Header */

.header{
    width: 100%;
}


/* Contact */
.contact{
    width: 100%;
    background-color: #282828;
}
.contact_content{
    width: 80%;
    margin: 0px auto;
    padding: 10px 0px;
}
.contact_content i{
    color: white;
}
.contact_content span{
    color: white;
    margin: 0px 10px;
}


/* logo */
.logo{
    width: 100%;
    background-color: white;
    padding: 50px 0px;
}
.logo_content{
    width: 100%;
    text-align: center;
}
.logo_content h1{
    font-size: 50px;
}
.logo_content h1 a{
    text-decoration: none;
    color: black;
}
.logo_content h2{
    font-weight: normal;
    margin-top: 10px;
}

/* nav */
.nav{
    text-align: center;
}
.nav ul{
    width: 80%;
    margin: 0px auto;
    list-style-type:none;
    padding: 20px 0px;
    border-top: 1px solid Gainsboro;
}
.nav li{
    display: inline-block;
    margin: 0px 15px;
}
.nav li a{
    text-decoration: none;
    color: black;
    padding-bottom: 5px;
    font-weight: bold;
}
.nav li a:hover{
    border-bottom: 2px solid black;
    transition: 0.3s;
}

/* End Header */

/* Start Main */
.background_main{
    width: 100%;
    background-image: url("../img/white-waves.png");
    padding-top: 20px;
    padding-bottom: 20px;
}
.main{
    width: 70%;
    background-color: white;
    margin: 0px auto;
    padding-bottom: 50px;
}
.main_head h1{
    text-align: center;
    color: red;
    padding: 50px 0px;
    font-size: 40px;
}
.main_content{
    width: 80%;
    margin: 0px auto;
}
.main_content h1{
    margin: 20px 0px;
}
.main_content img{
    display: block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.main_content p{
    font-size: 20px;
    margin: 10px 0px;
}
.main_content ul{
    list-style-type: none;
}
.main_content ul li{
    font-size: 20px;
    margin: 10px 0px;
}
/* End Main */

/* Start Footer */
.footer{
    width: 100%;
    text-align: center;
    background-color: palegoldenrod;
    padding: 50px 0px;
}
.footer h1{
    color: black;
}
/* End Footer */
}

@media screen and (max-width: 1023px){
    *{
        margin: 0px;
        padding: 0px;
        font-family: "Times New Roman", Times, serif;
    }
    .clear{
        clear: both;
    }
    .header{
        width: 100%;
    }
    .contact{
        width: 100%;
        background-color: #282828;
    }
    .contact_content{
        width: 100%;
        padding: 10px 0px;
        text-align: center;
    }
    .contact_content i{
        color: white;
        font-size: 14px;
    margin: 0px 5px;
    }
    .contact_content span{
        color: white;
        font-size: 14px;
    }
    .logo{
        width: 100%;
        background-color: white;
    }
    .logo_content{
        width: 100%;
        text-align: center;
    }
    .logo_content h1{
        font-size: 28px;
        margin: 5px 0px;
    }
    .logo_content h1 a{
        text-decoration: none;
        color: black;
    }
    .logo_content h2{
        font-weight: bold;
        font-size: 14px;
        margin: 5px 0px;
    }
    .nav{
        text-align: center;
        background-color: palegoldenrod;
    }
    .nav ul{
        width: 100%;
        margin: 5px auto 0px auto;
        list-style-type:none;
        padding: 5px 0px;
        border-top: 1px solid Gainsboro;
        border-bottom: 1px solid Gainsboro;
    }
    .nav li{
        display: inline-block;
        margin: 0px 2px;
    }
    .nav li a{
        text-decoration: none;
        color: black;
        padding-bottom: 5px;
        font-weight: bold;
        font-size: 14px;
    }
    .nav li a:hover{
        border-bottom: 2px solid black;
        transition: 0.3s;
    }
    .background_main{
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .main{
        width: 100%;
        background-color: white;
    }
    .main_head h1{
        text-align: center;
        color: red;
        padding: 10px 0px;
        font-size: 28px;
    }
    .main_content{
        width: 90%;
        margin: 0px auto;
    }
    .main_content h1{
        margin: 5px 0px;
        font-size: 28px;
    }
    .main_content img{
        display: block;
        vertical-align: middle;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }
    .main_content p{
        font-size: 14px;
        margin: 5px 0px;
    }
    .main_content ul{
        list-style-type: none;
    }
    .main_content ul li{
        font-size: 14px;
        margin: 5px 0px;
    }
    .footer{
        width: 100%;
        text-align: center;
        background-color: palegoldenrod;
        padding: 20px 0px;
    }
    .footer h1{
        width: 100%;
        margin: 0px auto;
        color: black;
        font-size: 28px;
    }
    .clear{
        display: none;
    }
}