*{
    margin: 0px;
    padding: 0px;
    font-family: "Times New Roman", Times, serif;
}

.clear{
    clear: both;
}

/* Start Header */

.header{
    width: 100%;
}


/* Contact */
.contact{
    width: 100%;
    background-color: #282828;
}
.contact_content{
    width: 80%;
    margin: 0px auto;
    padding: 10px 0px;
}
.contact_content i{
    color: white;
}
.contact_content span{
    color: white;
    margin: 0px 10px;
}


/* logo */
.logo{
    width: 100%;
    background-color: white;
    padding: 50px 0px;
}
.logo_content{
    width: 100%;
    text-align: center;
}
.logo_content h1{
    font-size: 50px;
}
.logo_content h1 a{
    text-decoration: none;
    color: black;
}
.logo_content h2{
    font-weight: normal;
    margin-top: 10px;
}

/* nav */
.nav{
    text-align: center;
}
.nav ul{
    width: 80%;
    margin: 0px auto;
    list-style-type:none;
    padding: 20px 0px;
    border-top: 1px solid Gainsboro;
}
.nav li{
    display: inline-block;
    margin: 0px 15px;
}
.nav li a{
    text-decoration: none;
    color: black;
    padding-bottom: 5px;
    font-weight: bold;
}
.nav li a:hover{
    border-bottom: 2px solid black;
    transition: 0.3s;
}
.active{
    border-bottom: 2px solid black;
}

/* End Header */

/* Start Main */
.main{
    width: 100%;
    background-image: url("../img/white-waves.png");
    padding-top: 20px;
    padding-bottom: 20px;
}
.main_head h1{
    text-align: center;
    color: red;
}
.main_content{
    width: 70%;
    margin: 0px auto;
}
.main_content h1{
    margin: 20px 0px;
}
/* End Main */

/* Start Footer */
.footer{
    width: 100%;
    text-align: center;
    background-color: palegoldenrod;
    padding: 50px 0px;
}
.footer h1{
    color: black;
}
/* End Footer */